*{
    padding: 0;
    margin: 0;
}
.top-block{

}
/* ====== HEADER ====== */
.header{
    padding: 40px 0;
    margin: 0 0 84px 0;
    box-sizing: border-box;
}
.menu-logo{
    
}
.menu-logo-txt{
    
}
.menu-list{

}
.menu-item{

}
.menu-link{

}
.top-info{
    margin: 0 0 162px 0;
}
.top-content{
    
}
.top-content-title{
    margin: 0 0 17px 0;
}
.top-content-text{
    margin: 0 0 37px 0;
}
.top-content-btn-wrap{

}
.top-content-btn{

}
.top-info-img{

}
.top-logo{

}
.top-logo-list{
    padding: 97px 0 96px 0;
}
.top-logo-list-item{

}